
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Mission Statement - Carers in Essex
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-font-size-80">
        Carers in Essex
      </h1>

      <figure>
        <img src="{{ asset_path }}images/essexcares.jpg" alt="">
        <!-- <figcaption>A service user's journey</figcaption> -->
      </figure>

      <p class="govuk-body">We’ve written this statement to share how we support adults who care, unpaid, for family and friends in Essex.</p>

      <p class="govuk-body">Many of us will find ourselves providing help and assistance for another person at some point in our lives. For some people this is a rewarding experience and part of an important relationship, but we understand it can be hard.</p>

      <p class="govuk-body">As a partnership, we share responsibility for supporting people who provide care. We value what they do, and our aim is to offer help where it’s needed to make a positive difference to their lives. </p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">Everyone’s situation is different.</span> We are here to listen and work together to give people the support that meets their individual needs.</p>

      <h2 class="govuk-heading-xl">Identifying and understanding people who provide care</h2>

      <p class="govuk-body">We want to identify and recognise all the people who are providing care, and do that as early on in their time spent as a carer as possible.</p>

      <p class="govuk-body">Many people who assist relatives and friends don’t see themselves as carers, and don’t know about the help available to them. We’ll make sure people understand that <span class="govuk-!-font-weight-bold">if you’re providing care for someone, we can help you.</span></p>

      <p class="govuk-body">We recognise that it’s important for us to understand someone’s life now and their aspirations for the future, so we can offer them the best support options. Our message to people who provide care is clear. <span class="govuk-!-font-weight-bold">You aren’t on your own. You are important to us.</span></p>

      <p class="govuk-body callout"><span class="callout-subheading">Our partnership commitment:</span>We’ll build awareness in communities [through a campaign] about the impact caring for someone can have and where to go for help.</p>

      <h2 class="govuk-heading-xl">Listening and finding out what support people need</h2>

      <p class="govuk-body">Anyone who provides care should know <span class="govuk-!-font-weight-bold">it’s ok to ask for help.</span> People must feel valued and supported. We will be there to listen when they need us. </p>

      <p class="govuk-body">All carers are entitled to an assessment, which is an opportunity for someone to talk with us about what they do and how they feel. We want to find ways to get a fuller picture of people’s lives and how to support them in their communities.</p>

      <p class="govuk-body">It’s important that all of our staff improve their understanding of carers’ needs, so people have a good experience when they come to us for help.</p>

      <p class="govuk-body callout"><span class="callout-subheading">Our partnership commitment:</span>We’ll make sure that people who work in the places carers go to, know how to support them.</p>

      <h2 class="govuk-heading-xl">Providing ongoing support</h2>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">We support people throughout their time as a carer.</span> We aim to make a connection with them as soon as we can. We’ll make sure people know what to expect from us and get the help they need at the right time. </p>

      <p class="govuk-body">We’ll provide the information and guidance people need to understand the options and choices available to them. We’ll provide clear and accessible information via our website, on the phone or in person.</p>

      <p class="govuk-body"><span class="govuk-!-font-weight-bold">The health and wellbeing of someone providing care is important.</span> We’ll help people identify ways to support their own mental and physical health, access services and become part of local support networks. </p>

      <p class="govuk-body">We’ll provide the support people need to take a break and have time for themselves, with the peace of mind that the person they care for is safe and well. </p>

      <p class="govuk-body">We’ll signpost information and guidance to help people pursue their own interests, whether that’s employment, education or a hobby.</p>

      <p class="govuk-body">We want people’s interactions with us to be as clear and connected as possible. As partners we will work closely together to make sure that handovers between different services and referrals work well.</p>

      <p class="govuk-body callout"><span class="callout-subheading">Our partnership commitment:</span>We’ll design our services to meet people’s needs throughout their journey as a carer.</p>

      <h2 class="govuk-heading-xl">Seeking feedback and making improvements</h2>

      <p class="govuk-body">We welcome feedback from people about the support they receive from us. Please use this form to share your feedback. </p>

      <p class="govuk-body callout"><span class="callout-subheading">Our partnership commitment:</span>We’ll keep you up-to-date about what we’re doing via our networks.</p>

      <p class="govuk-body">If you’re providing care for someone and would like our help, please get in touch.</p>

      <!-- [Add partnership logos to the end] -->

    </div>
  </div>

{% endblock %}
