
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Mission Statement - Carers in Essex
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Carers in Essex
      </h1>
      <img class="govuk-!-margin-bottom-9" src="http://placekitten.com/960/500" alt="">


      <h2 class="govuk-heading-l">Any of us could be a carer now, or at some point in the future.</h2>

      <p class="govuk-body">The service we provide for informal carers in Essex is delivered by our partnership of organisations. We share responsibility for looking after carers in our community.</p>

      <p class="govuk-body">We value the contribution carers make and our aim is to provide help where it’s needed to improve their lives.</p>

      <p class="govuk-body">Every carer’s situation is different. We are here to listen and work together to give carers the information and support they need.</p>

      <h2 class="govuk-heading-l">Identifying and understanding carers</h2>

      <p class="govuk-body">We want to identify and recognise all the people who are providing informal care, and do that as early on in their journey as a carer as possible.</p>

      <p class="govuk-body">Carers should feel valued and supported. Many people who care for relatives and friends don’t see themselves as carers, so they don’t know about the help available to them. We’ll make sure people understand that if you’re looking after someone, we can help you.</p>

      <p class="govuk-body">We respect that everyone’s circumstances are different. Carers are individuals with their own specific needs. Understanding someone’s life before becoming a carer, now, and their aspirations for the future, means we can offer them the best support options. </p>

      <p class="govuk-body">We want all of our staff to improve their understanding of the needs of carers, so people have a [better/good] experience when they come to us for help.</p>

      <p class="govuk-body">Our message to carers is clear. You aren’t on your own. You are important to us.</p>

      <h2 class="govuk-heading-l">Listening to carers and finding out what they need</h2>

      <p class="govuk-body">All carers should know it’s ok to ask for help. We will be there to listen when carers need us.</p>

      <p class="govuk-body">Carers must be able to live their own lives, have time for themselves, and plan for their futures.
      We need to understand their experience so we can work out the best way to help them, and the person they care for. </p>

      <p class="govuk-body">The carer’s assessment is an initial opportunity for someone to talk with us about what they do, and how they feel. [We will communicate the outcome of the assessment...]</p>

      <h2 class="govuk-heading-l">Support for carers</h2>

      <p class="govuk-body">We support people throughout their journey as a carer. We aim to make a connection with carers early on, and to provide help whenever they need it from that point onwards.</p>

      <p class="govuk-body">We will provide the information and guidance carers need to understand their options and the choices available to them, and will help them access what they need. We’ll provide clear and accessible information via our website, over the phone or in person. </p>

      <p class="govuk-body">The health and wellbeing of a carer is as important as the person they care for. We will make sure they are cared for too, helping them identify ways to support their mental and physical health, access services and become part of local support networks.</p>

      <p class="govuk-body">We recognise that supporting the person someone cares for, also helps them. We will....</p>

      <p class="govuk-body">We’ll provide the support carers need to take a break and have time for themselves, with the peace of mind that the person they care for is being well looked after.</p>

      <p class="govuk-body">While we support someone as a carer, we understand they have other things they want, or need, to do. We will signpost information to help them pursue their own interests, whether that’s employment, education or a hobby.</p>

      <p class="govuk-body">We want carers’ interactions with us to be as seamless as possible. We’ll join-up the delivery of services and support wherever we can, and provide effective handovers and referrals between organisations when that needs to happen.</p>

      <h2 class="govuk-heading-l">Seeking feedback and making improvements</h2>

      <p class="govuk-body">We’ll ask for regular feedback from carers about the support they receive from us.</p>

      <p class="govuk-body">We’ll share the main issues raised and the actions taken in response, to keep us open and accountable for improving services and providing the best possible standard of carer support. </p>








    </div>
  </div>

{% endblock %}
